<!-- templates/accounts/billing_details.html -->


<h1>Billing Details</h1>
<table>
    <thead>
        <tr>
            <th>Billing ID</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Appointment</th>
            <th>Total Amount</th>
            <th>Payment Status</th>
            <th>Billing Date</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{ billings.billing_id }}</td>
            <td>{{ billings.patient }}</td>
            <td>{{ billings.doctor }}</td>
            <td>{{ billings.appointment }}</td>
            <td>{{ billings.total_amount }}</td>
            <td>{{ billings.payment_status }}</td>
            <td>{{ billings.billing_date }}</td>
        </tr>

    </tbody>
</table>

